.cartitems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px auto;
}

.cartName{
    font-size: 23px;
    margin: 20px auto;
    font-weight: bold;
}

.cartName i{
    padding: 0 10px;
}

.arritems{
    height: 15vh;
    margin: 10px auto;
    width: 40vw; 
    text-align: left;
    /* background-color: rgb(92, 195, 255); */
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.185);
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.cartpart1{
    margin: 10px 20px;
}

.arritems p{
    margin: auto 5px;
}

.cartpart2 i {
    margin-right: 0;
    margin-left: 10px;
    /* padding-left:10px ; */
    cursor: pointer;
}

.cartdelete{
    border: none;
    background: inherit;
}

.cartpart2{
    margin: 10px 30px;
}

.cartamount{
    /* float: right; */
    margin-right: 50px;
}

.buynow{
    border: none;
    padding: 10px 15px;
    margin: 10px auto;
    border-radius: 4px;
    /* color: white; */
    background-color: rgb(255, 162, 0);
    /* float: right; */
    margin-right: 40px;
}