.mainorder{
    margin: 40px auto;
    min-height: 50vh;
    width: 500px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.396);
    border-radius: 8px;
    padding: 30px;
}

.orderitems {
    margin: 10px auto;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px 2px;
    display: flex;
    justify-content: space-between;
}

.final{
    border: none;
    padding: 10px 15px;
    margin: 10px auto;
    border-radius: 4px;
    /* color: white; */
    background-color: rgb(255, 162, 0);
    /* float: right; */
    /* margin-right: 40px; */
}