.container {
    width:80%;
    /* height: 100vh; */
    margin-top: 15%;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    margin: auto;
    border: solid 1px black;
}

.container form label{
    margin: 10px auto;
    /* padding-right: 10px; */
}

.container input{
    margin-left: 10px;
    width: 18rem;
    padding: 5px;
    /* border-radius: 2px; */
}

.container p {
    margin: 10px auto;
}